<!-- markets -->
<section  id="book" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <h3>
      책소개
    </h3>
      <div class="team-member">
          <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/covers/15.jpg" class="img-responsive bookcover" alt="" style="width:400px; height:400px;">
          <h5>별처럼 찬란히 빛나는 꿈으로</h5>
          <h6>꿈꾸는 청소년 공모전</h6>
          홍지연, 남동희, 원하연, 김영우, 정인아, 남기쁨<br/>
          배재호, 김소원, 박소은, 송현종, 오민영, 김나현<br/>
          이유진, 남기완, 박경률, 조윤서, 이지은, 이시현<br/>
          반병현
          <ul class="list-inline ">
              <li>
                  <a href="https://search.shopping.naver.com/book/catalog/34370748635" target="_blank" rel="noreferrer">
                      <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/naver.png" class="bookstore"/>
                  </a>
              </li>
              <li>
                  <a href="https://www.bookk.co.kr/book/view/146587" target="_blank" rel="noreferrer">
                      <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/aladdin.png" class="bookstore"/>
                  </a>
              </li>
              <li>
                  <a href="http://www.yes24.com/Product/Goods/112344499" target="_blank" rel="noreferrer">
                      <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/yes24.png" class="bookstore"/>
                  </a>
              </li>
              <li>
                  <a href="https://www.bookk.co.kr/book/view/146587" target="_blank" rel="noreferrer">
                      <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/kyobo.png" class="bookstore"/>
                  </a>
              </li>
          </ul>
          <h6>도서 판매수익 전액은 한국소아암재단에 기부됩니다.</h6>
      </div>
    </div>
  </div>
  <div class="container" style="text-align:center;">
    <div class="chapterTitle">꿈꾸는 청소년 공모전이란?</div>
      <div class="team-member">
          <img src="img/poster.png" class="img-responsive bookcover" alt="대회 포스터 들어갈 자리">
          <div class="chapterSubtitle">꿈과 열정이 있는 청소년들을 발굴하기 위해 공모전을 개최합니다.</div>
          모두에게 여러분의 이야기를 들려주세요.<br/>
          여러분의 꿈을 책으로 엮어 세상 널리 실어 나르고자 합니다.
      </div>
    </div>
  </div>
</section>
