<!-- markets -->
<section  id="part3">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">지원 부문</div>
      <div class="chapterSubtitle">부문별 5명 선발</div>
      <br/><br/>
      <p class="chapters">
        <strong>제1부문</strong><br/> 내 꿈은 미래의 과학기술인<br/><br/>
        <strong>제2부문</strong><br/> 내 꿈은 유능한 사업가<br/><br/>
        <strong>제3부문</strong><br/> 내 꿈은 따뜻한 세상을 만드는 사람<br/><br/>
        <strong>제4부문</strong><br/> 내 꿈은 갈등을 해소하는 사람<br/><br/>
        <strong>제5부문</strong><br/> 내 꿈은 멋진 예술인<br/><br/>
        <strong>제6부문</strong><br/> 내 꿈은 모범이 되는 교육인<br/><br/>
      </p>
    </div>
  </div>
</section>
