<!-- markets -->
<section  id="part2" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">시상 규모</div>
      <div class="chapterSubtitle">상장 및 부상 개별발송</div>
      <br/><br/>
      <p class="chapters">
        <strong>금상</strong> 30만 원 (1명)<br/>
        <strong>은상</strong> 20만 원 (2명)<br/>
        <strong>동상</strong> 10만 원 (5명)<br/>
        <strong>장려상</strong> 23명<br/>
      </p>
      <br/><br/>
      <p class="chapters">
        수상자 전원의 이야기를 실은 책을 출간합니다. (도서 증정)<br/>
        도서 판매인세 전액은 <a href="http://www.angelc.or.kr/" target="_blank">한국소아암재단</a>에 기부됩니다.
      </p>
    </div>
  </div>
</section>
