<!-- markets -->
<section  id="part5">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">지원 방법</div>
      <div class="chapterSubtitle">여러분의 이야기를 들려주세요!</div>
      <br/><br/>
      <p class="chapters">
        <strong>Step 1.</strong><br/> 각 부문별 참가신청서를 다운로드한다.<br/><br/>
        <strong>Step 2.</strong><br/> 참가신청서의 내용을 채운다.<br/><br/>
        <strong>Step 3.</strong><br/> 홈페이지의 참가신청 버튼을 클릭한다.<br/><br/>
        <strong>Step 4.</strong><br/> 신청서를 제출하면 끝!<br/><br/>
      </p>

      <a href="#" class="page-scroll btn btn-xl">
        참가신청
      </a>
    </div>
  </div>
</section>
